.header {
  cursor: pointer;
  white-space: nowrap;
}

.header:hover .label {
  text-decoration: underline;
}

.active {
  font-weight: 700;
}

.label {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}

.arrow {
  font-size: 10px;
  line-height: 1;
}

.header:focus-visible {
  outline: 1px dotted;
  outline-offset: -1px;
}
